body, 
html {
	width: 100%;
	height: 100%;
	font-family: 'Public Sans', sans-serif;
	background: url(office1.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	} 

	h1 {
		font-size: 3rem;
		color: #d0cdcd;
	}

	hr {
		border-color: #ff7100; 
		border-width: 3px;
		max-width: 70px;
	}

	.buffer {
		height: 14rem;
	}

	.btn {
		font-weight: 600;
		border-radius: 300px;
		text-transform: uppercase;
	}

	.btn-primary {
		background-color: #ff7100;
		border-color: #ff7100;
	}

	.btn-primary:hover {
		background-color: #ff9400;
		border-color: #ff9400;
		border-width: 3px;
	}

	.btn-xl {
		padding: 1rem 2rem;
	}